// Colors

// Primary

//// Text

$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// Gradient



/// Neutral

//// Text

$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

//// Dividers

$lightGrayishBlue: hsl(240, 5%, 91%);